@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Unbounded", cursive;
  background: #0a0a0a;
}
html {
  scroll-behavior: smooth;
}
.text-light {
  color: #c0c0c0;
}
.text-gradient-bold {
  background: linear-gradient(
    97.14deg,
    #b808f6 6.34%,
    #ff7712 31.77%,
    #ffd700 82.94%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-gradient-soft {
  background: linear-gradient(97.51deg, #b808f6 -31.26%, #ff7712 105.37%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-gradient-black {
  background: linear-gradient(97.51deg, #000000 -31.26%, #000000 105.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.gradient-border {
  border: 3px solid transparent;
  border-image: linear-gradient(97.51deg, #b808f6 -31.26%, #ff7712 105.37%);
  border-image-slice: 1;
  background-clip: padding-box;
  border-radius: 9999px;
}
.gradient-cars-border {
  border: 2px solid;

  border-image-source: linear-gradient(
    314.25deg,
    #ffd700 23.26%,
    rgba(255, 215, 0, 0) 31.89%,
    #ffd700 100.11%,
    rgba(255, 215, 0, 0) 10.26%
  );

  border-image-slice: 1;
}

.bg-gradient-bold {
  background: linear-gradient(97.51deg, #b808f6 -31.26%, #ff7712 105.37%);
}

.border-gradient {
  background: linear-gradient(97.51deg, #b808f6 -31.26%, #ff7712 105.37%);
}
.nav-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(
    81.83deg,
    rgba(184, 8, 246, 0) 25.45%,
    #ff8a00 59.31%,
    rgba(255, 138, 0, 0) 86.4%
  );
  border-image-slice: 1;
}
.nav-gradient-back {
  background: linear-gradient(
    180deg,
    rgba(184, 8, 246, 0) 25.45%,
    #ff8a00 59.31%,
    rgba(255, 138, 0, 0) 86.4%
  );
  border-image-slice: 1;
}

.gradient-bg {
  background: linear-gradient(97.51deg, #b808f6 -31.26%, #ff7712 105.37%);
}
